div{
	/* border: 1px solid red; */
}

.menu_bar{
	/* border-top: 1px solid #710013;
	border-bottom: 1px solid #710013; */
}

.hand{
	cursor: pointer;
}

.play_button{
	font-size: 2em;
	cursor:pointer;
}

.play_button_disabled{
	font-size: 2em;
	cursor:pointer;
	color: gray;
}

.main_div{
	width: 100%;
	height: calc(100% - 100px);
	overflow-y: auto;
}

.cherry_toast{
	position: fixed; 
	bottom: 110;
	z-index: 999; 
	width:100%;
	text-align: center;
	display:none;
}

.player_div{
	position: fixed; 
	bottom: 0; 
	width: 100%;
	display: flex;
	z-index: 100;
	border-top: 1px solid black;
}

.player_video_div{
	width: 100px;
	height: 100px;
}

.player_info_div{
	width: calc(100% - 185px);
	padding: 5px;
}

.controller_div{
	width: 85px;
	padding-top: 5px;
	padding-right: 5px;
}

.player_music_list{
	position: fixed;
	top: 0; 
	width: 100%;
	height: calc(100% - 100px);
	z-index: 98;
	background-color: white;
	display: none;
}

.player_lyrics_div{
	position: fixed;
	top: 0; 
	width: 100%;
	height: calc(100% - 100px);
	z-index: 98;
	background-color: white;
	display: none;
}

.player_volume_div{
	position: fixed; 
	bottom: 150;
	z-index: 999; 
	width:100%;
	text-align: center;
	display:none;
}

.label_artist{
	font-size: 0.8em;
}

.playlist_music_highlight{
	background-color:beige;
}

.menu_div{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2000;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	display: none;
}

.modal-backdrop {
	background-color: white;
}